.container {
  @apply fixed bottom-[40px] right-[40px];
  z-index: 10000;
  animation: mymove 0.5s;
  @media screen and (max-width: 600px) {
    bottom: 20px;
    right: 20px;
  }
  button {
    @apply flex justify-center items-center bg-bgColor;
    height: 40px;
    width: 40px;
    user-select: none;
    border-radius: 100%;
    box-shadow: 0px 0px 18px #2dc3c3;
    border: none;
    cursor: pointer;
    transition: 0.8s;

    @media screen and (max-width: 600px) {
      height: 30px;
      width: 30px;
      cursor: unset;
    }

    &:hover {
      background-color: #2dc3c3;
      transition: 0.5s;
      .icon {
        color: black;
        transition: 0.5s;
      }
    }
    .icon {
      color:white;
      font-size: 16px;
      transition: 0.8s;
      @media screen and (max-width: 600px) {
        font-size: 14px;
      }
    }
  }
}

@keyframes mymove {
  from {
    bottom: 0px;
  }
  to {
    bottom: 40px;
  }
}
